<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto text-center">
            <h1>Proyecto de Arquitectura del Computador 2</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/dashboard/setDiameter" method="post">
                        <div class="input-group col-md-6 mx-auto">
                            <input type="int" class="form-control" name="diameter" id="diameter" placeholder="Diámetro de la llanta" autofocus>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success">Guardar</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto p-4">
            <div class="card">
                <div class="card-body">
                    <form action="#">
                        <div class="form-group col-md-6 mx-auto text-center p-4">
                            <label for="vueltas">Cantidad de vueltas:</label>
                            <input type="int" class="form-control" name="vueltas" id="vueltas" placeholder="Cantidad de vueltas" value="{{vueltas.vueltas}}" autofocus>
                        </div>
                        <div class="form-group col-md-6 mx-auto text-center p-4">
                            <label for="distancia">Distancia:</label>
                            <input type="int" class="form-control" name="distancia" id="distancia" placeholder="Distancia" value="{{distancia}}" autofocus>
                        </div>
                        <div class="form-group col-md-6 mx-auto text-center p-4">
                            <label for="velocidad">Velocidad:</label>
                            <input type="int" class="form-control" name="velocidad" id="velocidad" placeholder="Velocidad" value="{{velocidad}}">
                        </div>
                        <div class="form-group col-md-6 mx-auto text-center p-4">
                            <label for="tiempo">Tiempo total:</label>
                            <input type="int" class="form-control" name="tiempo" id="tiempo" placeholder="Tiempo total" value="{{tiempo.tiempo_total}}">
                        </div>
                        <div class="form-group col-md-6 mx-auto text-center p-4">
                            <input type="int" class="form-control" name="averageVelocity" id="averageVelocity" placeholder="Velocidad promedio" >
                        </div>
                        <div class="form-group col-md-6 mx-auto text-center p-4">
                            <input type="int" class="form-control" name="rpm" id="rpm" placeholder="Vueltas por minuto" >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto p-4">
            <div class="card">
                <div class="card-body  mx-auto text-center">
                    <div class="row">
                        <div class="col-md-12 p-4">
                            <form action="/dashboard/truncate" method="get">
                                <button class="btn btn-danger">TRUNCATE</button>
                            </form>
                        </div>
                    </div>
                    <table class="table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>DATO</th>
                            </tr>
                        </thead>
                        <tbody>                            
                            {{#each datos}}
                            <tr>
                                <td class="p-2">{{id}}</td>
                                <td class="p-2">{{dato}}</td>
                            </tr>
                            {{else}}
                            <h3>No hay datos para mostrar</h3>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>